:root {
  --nav-bg: #dfdbe6;
  --footer-bg: #dfdbe6;
  --main-bg: #E5E5E5;
  --box-color: white;
  --control-grey: #333333;
  --modal-grey: #e7e7e7;
  --nav-size: 64px;
  --footer-size: 64px;
  
  --spacing-1: 16px;
  --spacing-2: 24px;
  --spacing-3: 32px;
  --spacing-4: 48px;
  --spacing-5: 64px;

  --small-input: 28px;
  --large-input: 200px;

  /* Toast Notifications*/
  --toastify-toast-width: 388px;
  --toastify-font-family: OurCustomFont;

  --toastify-text-color-light: #ffffff;
  --toastify-text-color-dark: #000000;
  
}

@font-face {
  font-family: OurCustomFont;
  font-weight: 1600;
  /* orig: 100 900*/
  font-display: swap;  --toastify-color-progress-dark: #bb86fc;
  font-style: oblique 0deg 10deg;
  src: url('assets/Inter.var.woff2') format("woff2");
}

@font-face {
  font-family: SK-Primo;
  src: url('./assets/skPrimo.ttf');
}

@font-face {
  font-family: VCR;
  src: url('./assets/VCR_OSD_MONO_1.001.ttf');
}

@font-face {
  font-family: IBM;
  src: url('./assets/IBMPlexMono-Regular.ttf');
}

@font-face {
  font-family: Technology;
  src: url('./assets/Technology.ttf');
}

body {
  padding: 0;
  margin: 0;
  font-family: OurCustomFont;
}

nav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  height: var(--nav-size);
  width: 100%;
  background-color: var(--nav-bg);
}
#mainNav {
  margin-top: 30px;
  align-items: flex-start;
  background: transparent;
  position: absolute;
  z-index: 2;
}
.logo {
  flex-grow: 1;
  font-family: SK-Primo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  text-align: center;
  display: inherit;
  justify-content: center;
  color: #333333;
  padding-left: var(--spacing-2);
}
.leftLogo {
  margin-left: 30px;
}
.rightLogo {
  margin-right: 30px;
}
#topLeftImage {
  width: 138px;
}
#bottomLeftImage {
  width: 80px;
}
#bottomRightImage {
  width: 165px;
}
.controls {
  flex-shrink: 0;
}
.controlsLast {
  padding-right: var(--spacing-2);
}
.controlsButton {
  background: transparent;
  border: none;
  outline: none;
  display: block;
  cursor:pointer;
}
.menuButton {
  margin-right: 32px;
  margin-top: 7px;
  font-family: IBM;
}
.controlsButton img:hover {
  filter: brightness(2.5);
}
.connectButton {
  width: 90px;
  height: 30px;
  background: transparent;
  border: solid 2px gray;
  border-radius: 5px;
  margin-right: 7px;
}
.walletBadge {
  display: flex;
  align-items: center;
  background-color: #e9e6ed;
  border-radius: 25px;
  border: transparent;
  height: 30px;
  padding-left: 14px;
  padding-right: 14px;
  margin-right: 7px;
  /*#4d00b4*/
}
.wallet {
  position: absolute;
  top: var(--nav-size);
  right: var(--spacing-3);
  width: 480px;
  background-color: var(--box-color);
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
  z-index: 9998;
}
.upperWalletLine {
  margin-top: 16px;
  margin-bottom: 16px;
}
.accountBalanceBox {
  width: 80%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #4d00b4;
  text-align: center;
  background: #fbf9fe;
}
.accountBalanceBoxUpper {
  padding-top: 16px;
  padding-bottom: 4px;
  margin: 0px;
}
.accountBalanceBoxDowner {
  padding-bottom: 16px;
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
}
.dot {
  height: 5px;
  width: 5px;
  margin-right: 6px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
}
.redDot {
  background-color: #EE0000;
}
.blueDot {
  background-color: #4d00b4;
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  height: var(--footer-size);
  width: 100%;
  background-color: var(--footer-bg);
  align-items: center;
}
#mainFooter {
  margin-bottom: 30px;
  align-items: flex-end;
  background: transparent;
  position: absolute;
  z-index: 2;
}

main {
  background-color: var(--main-bg);
  background: url('./assets/background_small.png');
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}
#adminLogo {
  display: block;
}
#adminMain {
  overflow: scroll;
  background: var(--main-bg);
}

.adminMain {
  padding: var(--spacing-5);
}

.connectWallet {
  padding-top: var(--spacing-5);
  height: 100vh;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.mainWalletBadge {
  background: url('./assets/connect_frame.svg') no-repeat;
  text-transform: uppercase;
  font-family: VCR;
  font-size: 16px;
  width: 179px;
  height: 39px;
  margin-right: 32px;
  border: none;
}
.mainWalletBadge:hover {
  font-weight: bold;
}
.mainWalletContainer {
  position: absolute;
  background: url('./assets/connect_frame.svg') no-repeat;
  font-family: IBM;
  font-size: 10px;
  top: 45px;
  width: 159px;
  height: 84px;
  padding: 8px;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #333;
  border-radius: 7px;
  right: var(--spacing-3);
  z-index: 9998;
}
#mainDisconnect {
  background: url('./assets/disconnect.svg') no-repeat;
  width: 84px;
  height: 28px;
  border: none;
}
#mainDisconnect:hover {
  background: url('./assets/disconnect_hover.svg') no-repeat;
}
#mainWalletBalanceFlex {
  display: flex;
  align-items: center;
}
#mainWalletBalanceFlex>* {
  margin-top: 0;
  margin-bottom: 0;
}
.walletFlexPlaceholder {
  flex-grow: 1;
}
#mainWalletNearLogo {
  margin-left: 5px;
}
#mainWalletDollarFlex {
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;
}
#mainWalletDollarFlex>* {
  margin-top: 0;
  margin-bottom: 0;
}
#mainWalletButtonContainer {
  display: flex;
  justify-content: center;
}
.guestText {
  margin-top: 20px;
}


#counter {
  font-family: Technology;
  color: #8fff00;
  padding-top: 1px;
  padding-bottom: 1px;
  width: 209px;
  border-radius: 2px;
  background-color: #6b7080;
  font-size: 16px;
  margin-left: 6px;
  margin-right: 6px;
}
.digitLabel {
  display: inline-block;
  margin-right: 12px;
}
.digit {
  display: inline-block;
  margin: 0 2px;
  height: 27px;
  width: 12px;
  background-color: #585a62;
}

.darkeningOverlay {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.blurred {
  filter: blur(5px);
}
.keyInput {
  position: absolute;
  width: 100%;
  top: 46%;
  text-align: center;
  left: 0;
  font-family: OurCustomFont;
  z-index: 3;
}
.keyInput input {
  width: 50%;
  height: 48px;
}
.keyInput p {
  display: block;
  font-size: 22px;
  color: white;
  margin-bottom: var(--spacing-3);
}
.keyInput button {
  display: inline;
  margin-left: var(--spacing-3);
  width: 100px;
  height: 48px;
}

.title {
  margin: auto;
  margin-top: 48px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.fieldName {
  display: block;
  margin-top: var(--spacing-4);
  margin-bottom: var(--spacing-2);
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.nftTitleInput {
  width: 99%;
  height: var(--small-input);
}

.descInput {
  width: 99%;
  height: var(--large-input);
}

.priceInput {
  width: 99%;
  height: 28px;
  background: white url('./assets/logo-black.svg') right no-repeat;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.previewBox {
  display: grid;
  padding: var(--spacing-3);
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
  background-color: var(--box-color);
}
.previewImage {
  width: 100%;
}
.previewBoxTitle {
  margin-top: var(--spacing-3);
  margin-bottom: var(--spacing-2);
}
.price {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  height: var(--spacing-4);
}
.priceP {
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}
.previewBoxItem {
  grid-column-start: 1;
  grid-column-end: 4;
  display: flex;
  align-items: center;
}

.imageDropZone {
  width: 99%;
  height: var(--spacing-5);
  border: solid 2px #009aff;
  background-color: #f0f9ff;
  border-style: dashed;
  border-radius: 2px;
  text-align: center;
}
.imageDropZoneActive {
  background-color: white;
}
.imageDropZone img {
  padding: 20px;
}
.smallUploader {
  width: max-content;
  height: 28px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  border: solid 2px #009aff;
  background-color: #f0f9ff;
  border-style: dashed;
  border-radius: 27px;
  text-align: center;
}
.smallUploader button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.infoDiv {
  color: #bdbdbf;
  display: flex;
  margin-bottom: -16px;
}
.infoDiv p {
  margin-left: 8px;
}

.mainButton {
  margin-top: 80px;
  border: none;
  padding: 11.5px var(--spacing-3);
  color: white;
  background: #333333;
  border-radius: 3px;
}
.mainButton:hover {
  background: #828282;
}
.mainButton:disabled {
  background: #C4C4C4;
}
#disconnectButton {
  margin-top: 0px;
  margin-bottom: 32px;
}
.buttonContainer {
  text-align: center;
}

.adminFlexBox {
  display: flex;
}
.nft-details {
  margin-right: 64px;
  width: 70%;
}
.preview {
  position: static;
  width: 30%;
}

#listContainer {
  margin-top: calc(var(--nav-size) + 72px);
  margin-bottom: calc(var(--footer-size) + 72px);
  margin-left: 140px;
  margin-right: 140px;
}
#listContainer ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.nftCard {
  background: transparent;
  border: none;
  width: 219px;
  height: 193px;
}
.nftCard img {
  max-width: 100%;
  height: 100%;
}

.musicControlsButton {
  flex-shrink: 1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.musicControlsSlider {
  flex-grow: 1;
  width: 100%;
  height: 2px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--control-grey);
}
.musicControlsSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 20px;
  border: 7px solid var(--control-grey);
  border-top: none;
  border-bottom: none;
  background-color: var(--control-grey);
  margin-top: -5px;
  border-radius: 8px;
}
.musicControlsSlider::-moz-range-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 20x;
  border: 7px solid var(--control-grey);
  border-top: none;
  border-bottom: none;
  background-color: var(--control-grey);
  margin-top: -5px;
  border-radius: 8px;
}

.loadingLabel {
  font-family: VCR;
  text-transform: uppercase;
}

#nftButtonsList {
  position: absolute;
  z-index: 2;
  top: 110px;
  left: 30px;
}
.nftButton {
  display: block;
  font-family: IBM;
  text-transform: uppercase;
  width: 80px;
  height: 29px;
  border: none;
  margin-top: 20px;
  background-color: rgba(43, 58, 111, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 4px;

  /*animation-name: labelFadeOut;*/
  animation-timing-function: ease;
  animation-duration: 1s;
  transform-origin: left;
  /*transition-duration: 1s;
  transform-origin: left;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;*/

  /*background-color: #333333;*/
}
.nftButton:hover {
  background: url('./assets/cd.png') no-repeat;
  background-size: 32px;
  padding-left: 48px;
  text-align: left;
  background-position: 8px 8px;
  /*transform: scale(3, 1.6);*/
  /*animation-name: labelFadeIn;*/
  animation-timing-function: ease;
  animation-duration: 1s;
  transform-origin: left;
  width: 161px;
  height: 50px;
}
@keyframes labelFadeIn {
  0% { transform: scale(0.65); }
  
  100% { transform: scale(1); }
}
@keyframes labelFadeOut {
  0% { transform: scale(1.33); }
  
  100% { transform: scale(1); }
}


#globeContainer {
  z-index: 2;
}

.temporaryCARD {
  width: 300px;
}
.dropdownContainer {
  position: absolute;
  top: var(--nav-size);
  right: var(--spacing-3);
  width: 480px;
  background-color: var(--box-color);
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
  z-index: 9998;
}
#wallet {
  text-align: center;
}

.nftDetailsModal {
  position: absolute;
  display: grid;
  grid-template-areas: 
    'bar'
    'content';
  top: 100px;
  left: 16%;
  width: 1000px;
  /*background-color: rgba(255, 255, 255, 0.90);*/
  border: 2px solid var(--control-grey);
  box-shadow: 0px 1px 4px rgba(0,0,0, 0.2);
  background-color: var(--modal-grey);
  z-index: 3;
}
#nftDetailsModalBar {
  grid-area: bar;
  font-family: VCR;
  font-size: 16px;
  height: 38px;
  border-bottom: 1px solid #333;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#nftDetailsModalBar p {
  margin: -10px 0;
  flex-grow: 1;
  text-transform: uppercase;
  text-align: center;
}
#nftDetailsModalBar button {
  margin: 0px 2px;
  border: none;
  background: transparent;
  font-family: VCR;
  font-size: 16px;
}
#nftDetailsModalContent {
  grid-area: content;

  padding: var(--spacing-3);
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  grid-auto-flow: column;
  grid-template-areas: 
  'picture right'
  'audio buttons';
}
#nftDetailsModalPicture {
  grid-area: picture;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
#nftDetailsModalPicture img {
  width: 100%;
}
#nftDetailsModalRightSide {
  grid-area: right;

  display: flex;
  flex-direction: column;
}
.nftDetailsModalRightSideContent {
  padding: var(--spacing-1);
  font-family: IBM;
  font-size: 14px;
  background-color: var(--modal-grey);
  border: solid 1px var(--control-grey);
  margin-bottom: 20px;
  flex-grow: 1;
}
.nftDetailsModalRightSideGenBox {
  font-family: IBM;
  font-weight: bolder;
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  border: solid 1px var(--control-grey);
  display: flex;
  align-items: center;
  padding-left: 12px;
}
.nftDetailsModalRightSideInput {
  flex-grow: 1;
  margin-right: 20px;
  height: 34px;
  padding-left: 12px;
  background: #efefef;
}
.nftDetailsModalMenuLine {
  height: 10px;
  margin-bottom: 20px;
  border: none;
  
  display: flex;
}
.nftDetailsModalMenuButton {
  font-family: IBM;
  font-size: 12px;
  text-transform: uppercase;
  border: none;
  background: transparent;
  flex-grow: 1;
}
.nftDetailsModalMenuSelected {
  text-decoration: underline;
}
#nftDetailsModalAudio {
  grid-area: audio;
  margin-top: 20px;
  padding-right: 25px;
  
  display: flex;
  align-items: center;
}
#nftDetailsModalButtons {
  grid-area: buttons;
  font-family: VCR;
  font-size: 16px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.buttonFrame {
  background: url('./assets/connect_frame.svg') no-repeat;
  text-transform: uppercase;
  font-family: VCR;
  font-size: 16px;
  width: 179px;
  height: 39px;
  border: none;
}
.buttonFrame:hover {
  font-weight: bold;
}
.nftDetailsModalRightOwnerDiv {
  padding: 8px;
  border: 1px solid var(--control-grey);
  margin-bottom: 20px;
  display: flex;
}
.nftDetailsModalRightAccount {
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  flex-grow: 1;
}
.nftDetailsModalRightGen {
  font-weight: bolder;
  margin: 0;
  text-transform: uppercase;
}

#guestbookMessages {
  border: solid 1px var(--control-grey);
  padding: 20px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.guestbookMessage {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--spacing-3);
}
.guestbookMessageSender {
  font-weight: bold;
  flex-grow: 1;
  margin: 0;
}
.guestbookMessageTime {
  margin: 0;
}
.guestbookMessageMessage {
  margin-top: 20px;
  width: 100%;
}


#nftBuyButton {
  background-image: url('./assets/buy.svg');
  width: 120px;
  height: 37px;
  background-repeat: no-repeat;
  border: none;
  background-color: var(--modal-grey);
  border-radius: 2px;
  margin-left: var(--spacing-3);
}
#nftBuyButton:hover {
  background-image: url('./assets/buyHover.svg');
}

/* Toast messages*/
/*  This rule has to be upper then success */
.Toastify__toast-theme--light {
  background-color: #4f2e6d;
  width: 388px;
  border-radius: 0px;
}
.Toastify__toast--success {
  background-color: #1c7c20;
}
.Toastify__toast--error {
  background-color: #ba0f76;
}
.messageTitle {
  font-weight: 600;
  font-size: 17px;
  font-style: bold;
  margin-bottom: var(--spacing-1);
}
.messageDesc {
  font-weight: 600;
  font-size: 14px;
}
.toastMargin {
  margin-left: var(--spacing-2);
}

.dropdownTitle {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-1);
  text-align: center;
}

.dropdownLine {
  /*color: #828282;*/
  width: 80%;
  border: none;
  border-top: 1px #f2f2f2 solid;
  height: 1px;
}

.notificationList {
  padding: 0;
  margin: var(--spacing-2);
  margin-bottom: var(--spacing-1);
}
.notificationList li {
  list-style: none;
  margin: 0;
	padding: 0 0 0 60px;
  background-repeat: no-repeat;
	background-position: left center;
	background-size: 40px;
  margin-bottom: var(--spacing-1);
}
.successNotification {
  background-image: url('assets/ok-256.png');
}
.errorNotification {
  background-image: url('assets/ok-256.png');
}
.infoNotification {
  background-image: url('assets/ok-256.png');
}


.testClass {
  /* this is where toastify would append this class*/
  font-style: italic;
}